@import url(https://fonts.googleapis.com/css?family=Spartan:300,regular,500,600,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Lato:regular,500&display=swap);
@charset "UTF-8";
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #fff;
  line-height: 1;
  font-family: "Spartan";
  font-size: 1.125rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Spartan";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  touch-action: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*=__container] {
  max-width: 88.75rem;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=__container_big] {
  max-width: 1620px;
  margin: 0 auto;
  padding: 0px 15px;
  box-sizing: content-box;
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

[class*=-ibg_contain] img {
  object-fit: contain;
}

body._lock {
  overflow: hidden;
}

.menu__icon {
  display: none;
}

@media (max-width: 47.99875em) {
  .menu__icon {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }
  .menu__icon span, .menu__icon::before, .menu__icon::after {
    content: "";
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #fff;
  }
  .menu__icon::before {
    top: 0;
  }
  .menu__icon::after {
    bottom: 0;
  }
  .menu__icon span {
    top: calc(50% - 0.0625rem);
  }
  .menu__icon._active span {
    width: 0;
  }
  .menu__icon._active::before {
    top: calc(50% - 0.0625rem);
    transform: rotate(-45deg);
  }
  .menu__icon._active::after {
    bottom: calc(50% - 0.0625rem);
    transform: rotate(45deg);
  }
  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 100px 30px 30px 30px;
    transition: left 0.3s ease 0s;
    overflow: auto;
  }
  Рисуем шапку .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
  }
  .menu__body._active {
    left: 0;
  }
}
.button {
  display: inline-block;
  font-weight: 500;
  font-size: 18px;
  line-height: 122.222222%; /* 22/18 */
  width: 142px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #FFFFFF;
  border-radius: 10px;
  transition: all 0.3s ease 0s;
}
.button:hover {
  background-color: #23B123;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #263238;
  z-index: 3;
}
.header__logo {
  position: relative;
  z-index: 2;
  font-family: lato;
  font-weight: 500;
  line-height: 119.444444%; /* 43/36 */
  transition: all 0.3s ease 0s;
}
@media (min-width: 101.25em) {
  .header__logo {
    font-size: 2.25rem;
  }
}
@media (min-width: 47.9375em) and (max-width: 101.25em) {
  @supports (font-size: clamp( 1.5rem , 0.8256154748rem  +  1.4067995311vw , 2.25rem )) {
    .header__logo {
      font-size: clamp( 1.5rem , 0.8256154748rem  +  1.4067995311vw , 2.25rem );
    }
  }
  @supports not (font-size: clamp( 1.5rem , 0.8256154748rem  +  1.4067995311vw , 2.25rem )) {
    .header__logo {
      font-size: calc(1.5rem + 0.75 * (100vw - 47.9375rem) / 53.3125);
    }
  }
}
@media (max-width: 47.9375em) {
  .header__logo {
    font-size: 1.5rem;
  }
}
.header__logo:hover {
  color: #23B123;
}
@media (max-width: 767px) {
  .header__logo {
    flex: 1 1 100%;
  }
}
.header__logo:after {
  pointer-events: none;
  content: "";
  position: absolute;
  width: 400px;
  height: 400px;
  left: -171px;
  top: -206px;
  color: #fff;
  border: 1px solid #FFFFFF;
  border-radius: 50%;
}
@media (max-width: 767px) {
  .header__logo:after {
    display: none;
  }
}
.header._header-scroll .header__logo:after {
  display: none;
}
.header__logo:before {
  pointer-events: none;
  content: "";
  position: absolute;
  width: 400px;
  height: 400px;
  left: -121px;
  top: -266px;
  color: #fff;
  border: 1px solid #FFFFFF;
  border-radius: 50%;
}
@media (max-width: 767px) {
  .header__logo:before {
    display: none;
  }
}
.header._header-scroll .header__logo:before {
  display: none;
}
.header__buttons {
  display: flex;
}
.header__button_1 {
  margin: 0px 16px 0px 0px;
}
@media (max-width: 992px) {
  .header__button_1 {
    margin: 0;
    width: 120px;
    height: 55px;
  }
}
@media (max-width: 767px) {
  .header__button_1 {
    margin: 0px 30px 0px 0px;
  }
}
@media (max-width: 350px) {
  .header__button_1 {
    margin: 0px 20px 0px 0px;
  }
}
@media (max-width: 992px) {
  .header__button_2 {
    display: none;
  }
}

.header._header-scroll .menu {
  height: 80px;
}

.header._header-scroll {
  background-color: rgba(0, 0, 0, 0.4);
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 101.25em) {
  .menu {
    height: 11.375rem;
  }
}
@media (min-width: 47.9375em) and (max-width: 101.25em) {
  @supports (height: clamp( 5rem , -0.7322684642rem  +  11.9577960141vw , 11.375rem )) {
    .menu {
      height: clamp( 5rem , -0.7322684642rem  +  11.9577960141vw , 11.375rem );
    }
  }
  @supports not (height: clamp( 5rem , -0.7322684642rem  +  11.9577960141vw , 11.375rem )) {
    .menu {
      height: calc(5rem + 6.375 * (100vw - 47.9375rem) / 53.3125);
    }
  }
}
@media (max-width: 47.9375em) {
  .menu {
    height: 5rem;
  }
}
@media (max-width: 767px) {
  .menu {
    justify-content: start;
  }
}
.menu__list {
  display: flex;
}
.menu__list li {
  line-height: 122.222222%; /* 22/18 */
  transition: all 0.3s ease 0s;
}
@media (min-width: 101.25em) {
  .menu__list li:not(:last-child) {
    margin-right: 2.75rem;
  }
}
@media (min-width: 47.9375em) and (max-width: 101.25em) {
  @supports (margin-right: clamp( 1.25rem , -0.0987690504rem  +  2.8135990621vw , 2.75rem )) {
    .menu__list li:not(:last-child) {
      margin-right: clamp( 1.25rem , -0.0987690504rem  +  2.8135990621vw , 2.75rem );
    }
  }
  @supports not (margin-right: clamp( 1.25rem , -0.0987690504rem  +  2.8135990621vw , 2.75rem )) {
    .menu__list li:not(:last-child) {
      margin-right: calc(1.25rem + 1.5 * (100vw - 47.9375rem) / 53.3125);
    }
  }
}
@media (max-width: 47.9375em) {
  .menu__list li:not(:last-child) {
    margin-right: 1.25rem;
  }
}
.menu__list li:hover {
  color: #23B123;
}
@media (max-width: 767px) {
  .menu__list {
    display: block;
  }
  .menu__list li {
    font-size: 24px;
  }
  .menu__list li:not(:last-child) {
    margin: 0px 0px 20px 0px;
  }
}
.menu__icon {
  display: none;
}
@media (max-width: 767px) {
  .menu__icon {
    display: block;
    padding: 0px 30px 0px 0px;
  }
}

.footer {
  background-color: #2d393f;
}
@media (min-width: 90.625em) {
  .footer {
    padding-top: 4.25rem;
  }
}
@media (min-width: 20em) and (max-width: 90.625em) {
  @supports (padding-top: clamp( 1.25rem , 0.4004424779rem  +  4.2477876106vw , 4.25rem )) {
    .footer {
      padding-top: clamp( 1.25rem , 0.4004424779rem  +  4.2477876106vw , 4.25rem );
    }
  }
  @supports not (padding-top: clamp( 1.25rem , 0.4004424779rem  +  4.2477876106vw , 4.25rem )) {
    .footer {
      padding-top: calc(1.25rem + 3 * (100vw - 20rem) / 70.625);
    }
  }
}
@media (max-width: 20em) {
  .footer {
    padding-top: 1.25rem;
  }
}
.footer-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 -10px;
}
@media (min-width: 90.625em) {
  .footer-top {
    padding-bottom: 6.25rem;
  }
}
@media (min-width: 20em) and (max-width: 90.625em) {
  @supports (padding-bottom: clamp( 1.875rem , 0.6360619469rem  +  6.1946902655vw , 6.25rem )) {
    .footer-top {
      padding-bottom: clamp( 1.875rem , 0.6360619469rem  +  6.1946902655vw , 6.25rem );
    }
  }
  @supports not (padding-bottom: clamp( 1.875rem , 0.6360619469rem  +  6.1946902655vw , 6.25rem )) {
    .footer-top {
      padding-bottom: calc(1.875rem + 4.375 * (100vw - 20rem) / 70.625);
    }
  }
}
@media (max-width: 20em) {
  .footer-top {
    padding-bottom: 1.875rem;
  }
}
.footer-top__column {
  flex: 0 1 33.333%;
  padding: 0px 10px;
}
@media (max-width: 1200px) {
  .footer-top__column {
    flex: 0 1 50%;
  }
}
@media (max-width: 1200px) and (min-width: 90.625em) {
  .footer-top__column {
    padding-bottom: 3.125rem;
  }
}
@media (max-width: 1200px) and (min-width: 20em) and (max-width: 90.625em) {
  @supports (padding-bottom: clamp( 1.25rem , 0.7190265487rem  +  2.6548672566vw , 3.125rem )) {
    .footer-top__column {
      padding-bottom: clamp( 1.25rem , 0.7190265487rem  +  2.6548672566vw , 3.125rem );
    }
  }
  @supports not (padding-bottom: clamp( 1.25rem , 0.7190265487rem  +  2.6548672566vw , 3.125rem )) {
    .footer-top__column {
      padding-bottom: calc(1.25rem + 1.875 * (100vw - 20rem) / 70.625);
    }
  }
}
@media (max-width: 1200px) and (max-width: 20em) {
  .footer-top__column {
    padding-bottom: 1.25rem;
  }
}
@media (max-width: 767px) {
  .footer-top__column {
    flex: 0 1 100%;
  }
}
.column-one {
  max-width: 400px;
}
@media (max-width: 767px) {
  .column-one {
    max-width: none;
  }
}
@media (max-width: 767px) and (min-width: 47.9375em) {
  .column-one {
    padding-bottom: 3.75rem;
  }
}
@media (max-width: 767px) and (min-width: 20em) and (max-width: 47.9375em) {
  @supports (padding-bottom: clamp( 2.5rem , 1.6051454139rem  +  4.4742729306vw , 3.75rem )) {
    .column-one {
      padding-bottom: clamp( 2.5rem , 1.6051454139rem  +  4.4742729306vw , 3.75rem );
    }
  }
  @supports not (padding-bottom: clamp( 2.5rem , 1.6051454139rem  +  4.4742729306vw , 3.75rem )) {
    .column-one {
      padding-bottom: calc(2.5rem + 1.25 * (100vw - 20rem) / 27.9375);
    }
  }
}
@media (max-width: 767px) and (max-width: 20em) {
  .column-one {
    padding-bottom: 2.5rem;
  }
}
.column-one__logo {
  display: inline-block;
}
@media (min-width: 90.625em) {
  .column-one__logo {
    margin-bottom: 1.5rem;
  }
}
@media (min-width: 20em) and (max-width: 90.625em) {
  @supports (margin-bottom: clamp( 1.25rem , 1.1792035398rem  +  0.3539823009vw , 1.5rem )) {
    .column-one__logo {
      margin-bottom: clamp( 1.25rem , 1.1792035398rem  +  0.3539823009vw , 1.5rem );
    }
  }
  @supports not (margin-bottom: clamp( 1.25rem , 1.1792035398rem  +  0.3539823009vw , 1.5rem )) {
    .column-one__logo {
      margin-bottom: calc(1.25rem + 0.25 * (100vw - 20rem) / 70.625);
    }
  }
}
@media (max-width: 20em) {
  .column-one__logo {
    margin-bottom: 1.25rem;
  }
}
.column-one__text {
  line-height: 170%;
}

@media (max-width: 1200px) {
  .column-two {
    order: 2;
    flex: 0 1 100%;
    padding-bottom: 0;
  }
}
.column-two__text {
  line-height: 170%;
  max-width: 438px;
}
@media (min-width: 90.625em) {
  .column-two__text {
    padding-bottom: 1.5rem;
  }
}
@media (min-width: 20em) and (max-width: 90.625em) {
  @supports (padding-bottom: clamp( 1.25rem , 1.1792035398rem  +  0.3539823009vw , 1.5rem )) {
    .column-two__text {
      padding-bottom: clamp( 1.25rem , 1.1792035398rem  +  0.3539823009vw , 1.5rem );
    }
  }
  @supports not (padding-bottom: clamp( 1.25rem , 1.1792035398rem  +  0.3539823009vw , 1.5rem )) {
    .column-two__text {
      padding-bottom: calc(1.25rem + 0.25 * (100vw - 20rem) / 70.625);
    }
  }
}
@media (max-width: 20em) {
  .column-two__text {
    padding-bottom: 1.25rem;
  }
}
@media (max-width: 1200px) {
  .column-two__text {
    text-align: center;
    max-width: none;
  }
}
.column-three {
  padding: 0px 15px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .column-three {
    width: 100%;
  }
}
@media (max-width: 767px) and (min-width: 47.9375em) {
  .column-three {
    padding-bottom: 3.75rem;
  }
}
@media (max-width: 767px) and (min-width: 20em) and (max-width: 47.9375em) {
  @supports (padding-bottom: clamp( 2.5rem , 1.6051454139rem  +  4.4742729306vw , 3.75rem )) {
    .column-three {
      padding-bottom: clamp( 2.5rem , 1.6051454139rem  +  4.4742729306vw , 3.75rem );
    }
  }
  @supports not (padding-bottom: clamp( 2.5rem , 1.6051454139rem  +  4.4742729306vw , 3.75rem )) {
    .column-three {
      padding-bottom: calc(2.5rem + 1.25 * (100vw - 20rem) / 27.9375);
    }
  }
}
@media (max-width: 767px) and (max-width: 20em) {
  .column-three {
    padding-bottom: 2.5rem;
  }
}
@media (min-width: 90.625em) {
  .column-three__social {
    margin-right: 3rem;
  }
}
@media (min-width: 20em) and (max-width: 90.625em) {
  @supports (margin-right: clamp( 1.25rem , 0.7544247788rem  +  2.4778761062vw , 3rem )) {
    .column-three__social {
      margin-right: clamp( 1.25rem , 0.7544247788rem  +  2.4778761062vw , 3rem );
    }
  }
  @supports not (margin-right: clamp( 1.25rem , 0.7544247788rem  +  2.4778761062vw , 3rem )) {
    .column-three__social {
      margin-right: calc(1.25rem + 1.75 * (100vw - 20rem) / 70.625);
    }
  }
}
@media (max-width: 20em) {
  .column-three__social {
    margin-right: 1.25rem;
  }
}
.column-three__label {
  font-size: 16px;
  font-weight: 700;
  line-height: 112.5%; /* 18/16 */
}
@media (min-width: 90.625em) {
  .column-three__label {
    padding-bottom: 1.5rem;
  }
}
@media (min-width: 20em) and (max-width: 90.625em) {
  @supports (padding-bottom: clamp( 1.25rem , 1.1792035398rem  +  0.3539823009vw , 1.5rem )) {
    .column-three__label {
      padding-bottom: clamp( 1.25rem , 1.1792035398rem  +  0.3539823009vw , 1.5rem );
    }
  }
  @supports not (padding-bottom: clamp( 1.25rem , 1.1792035398rem  +  0.3539823009vw , 1.5rem )) {
    .column-three__label {
      padding-bottom: calc(1.25rem + 0.25 * (100vw - 20rem) / 70.625);
    }
  }
}
@media (max-width: 20em) {
  .column-three__label {
    padding-bottom: 1.25rem;
  }
}
.column-three__icons {
  display: flex;
  gap: 16px;
}
@media (max-width: 450px) {
  .column-three__icons {
    gap: 5px;
  }
}
.column-three__icon {
  transition: all 0.3s ease 0s;
}
.column-three__icon:hover {
  transform: scale(1.3);
}
@media (max-width: 450px) {
  .column-three__icon img {
    max-width: 80%;
  }
}
.column-three__contact {
  font-size: 16px;
  font-weight: 700;
  line-height: 112.5%; /* 18/16 */
}
@media (min-width: 90.625em) {
  .column-three__contact {
    padding-bottom: 1.5rem;
  }
}
@media (min-width: 20em) and (max-width: 90.625em) {
  @supports (padding-bottom: clamp( 1.25rem , 1.1792035398rem  +  0.3539823009vw , 1.5rem )) {
    .column-three__contact {
      padding-bottom: clamp( 1.25rem , 1.1792035398rem  +  0.3539823009vw , 1.5rem );
    }
  }
  @supports not (padding-bottom: clamp( 1.25rem , 1.1792035398rem  +  0.3539823009vw , 1.5rem )) {
    .column-three__contact {
      padding-bottom: calc(1.25rem + 0.25 * (100vw - 20rem) / 70.625);
    }
  }
}
@media (max-width: 20em) {
  .column-three__contact {
    padding-bottom: 1.25rem;
  }
}
.column-three__tel {
  transition: all 0.3s ease 0s;
  line-height: 118.75%; /* 19/16 */
}
.column-three__tel:hover {
  color: #23b123;
}

.footer-bottom {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (min-width: 90.625em) {
  .footer-bottom {
    padding-top: 3.5rem;
  }
}
@media (min-width: 20em) and (max-width: 90.625em) {
  @supports (padding-top: clamp( 1.25rem , 0.6128318584rem  +  3.185840708vw , 3.5rem )) {
    .footer-bottom {
      padding-top: clamp( 1.25rem , 0.6128318584rem  +  3.185840708vw , 3.5rem );
    }
  }
  @supports not (padding-top: clamp( 1.25rem , 0.6128318584rem  +  3.185840708vw , 3.5rem )) {
    .footer-bottom {
      padding-top: calc(1.25rem + 2.25 * (100vw - 20rem) / 70.625);
    }
  }
}
@media (max-width: 20em) {
  .footer-bottom {
    padding-top: 1.25rem;
  }
}
@media (min-width: 90.625em) {
  .footer-bottom {
    padding-bottom: 3.5rem;
  }
}
@media (min-width: 20em) and (max-width: 90.625em) {
  @supports (padding-bottom: clamp( 1.25rem , 0.6128318584rem  +  3.185840708vw , 3.5rem )) {
    .footer-bottom {
      padding-bottom: clamp( 1.25rem , 0.6128318584rem  +  3.185840708vw , 3.5rem );
    }
  }
  @supports not (padding-bottom: clamp( 1.25rem , 0.6128318584rem  +  3.185840708vw , 3.5rem )) {
    .footer-bottom {
      padding-bottom: calc(1.25rem + 2.25 * (100vw - 20rem) / 70.625);
    }
  }
}
@media (max-width: 20em) {
  .footer-bottom {
    padding-bottom: 1.25rem;
  }
}
@media (max-width: 800px) {
  .footer-bottom {
    flex-direction: column-reverse;
  }
}
.footer-bottom__column:after {
  position: absolute;
  content: "";
  width: 100%;
  top: 0;
  left: 0;
  border: 1px solid rgba(255, 255, 255, 0.42);
}
@media (max-width: 800px) {
  .footer-bottom__column {
    flex: 0 1 100%;
  }
}
@media (max-width: 992px) {
  .footer-bottom__copy {
    font-size: 14px;
  }
}
@media (max-width: 560px) {
  .footer-bottom__copy {
    text-align: center;
  }
}
@media (max-width: 800px) {
  .footer-bottom__items {
    display: flex;
    justify-content: space-between;
  }
}
@media (max-width: 800px) and (min-width: 50em) {
  .footer-bottom__items {
    padding-bottom: 1.875rem;
  }
}
@media (max-width: 800px) and (min-width: 20em) and (max-width: 50em) {
  @supports (padding-bottom: clamp( 1.25rem , 0.8333333333rem  +  2.0833333333vw , 1.875rem )) {
    .footer-bottom__items {
      padding-bottom: clamp( 1.25rem , 0.8333333333rem  +  2.0833333333vw , 1.875rem );
    }
  }
  @supports not (padding-bottom: clamp( 1.25rem , 0.8333333333rem  +  2.0833333333vw , 1.875rem )) {
    .footer-bottom__items {
      padding-bottom: calc(1.25rem + 0.625 * (100vw - 20rem) / 30);
    }
  }
}
@media (max-width: 800px) and (max-width: 20em) {
  .footer-bottom__items {
    padding-bottom: 1.25rem;
  }
}
@media (max-width: 560px) {
  .footer-bottom__items {
    flex-wrap: wrap;
  }
}
.footer-bottom__item {
  transition: all 0.3s ease 0s;
}
@media (max-width: 992px) {
  .footer-bottom__item {
    font-size: 14px;
  }
}
@media (max-width: 560px) {
  .footer-bottom__item {
    padding-right: 10px;
    flex: 0 1 50%;
  }
}
@media (max-width: 560px) and (min-width: 90.625em) {
  .footer-bottom__item {
    padding-bottom: 1.25rem;
  }
}
@media (max-width: 560px) and (min-width: 20em) and (max-width: 90.625em) {
  @supports (padding-bottom: clamp( 0.9375rem , 0.8490044248rem  +  0.4424778761vw , 1.25rem )) {
    .footer-bottom__item {
      padding-bottom: clamp( 0.9375rem , 0.8490044248rem  +  0.4424778761vw , 1.25rem );
    }
  }
  @supports not (padding-bottom: clamp( 0.9375rem , 0.8490044248rem  +  0.4424778761vw , 1.25rem )) {
    .footer-bottom__item {
      padding-bottom: calc(0.9375rem + 0.3125 * (100vw - 20rem) / 70.625);
    }
  }
}
@media (max-width: 560px) and (max-width: 20em) {
  .footer-bottom__item {
    padding-bottom: 0.9375rem;
  }
}
.footer-bottom__item:hover {
  color: #23b123;
}
@media (min-width: 88.75em) {
  .footer-bottom__item:not(:last-child) {
    margin-right: 2.5rem;
  }
}
@media (min-width: 62.5em) and (max-width: 88.75em) {
  @supports (margin-right: clamp( 0.9375rem , -2.7827380952rem  +  5.9523809524vw , 2.5rem )) {
    .footer-bottom__item:not(:last-child) {
      margin-right: clamp( 0.9375rem , -2.7827380952rem  +  5.9523809524vw , 2.5rem );
    }
  }
  @supports not (margin-right: clamp( 0.9375rem , -2.7827380952rem  +  5.9523809524vw , 2.5rem )) {
    .footer-bottom__item:not(:last-child) {
      margin-right: calc(0.9375rem + 1.5625 * (100vw - 62.5rem) / 26.25);
    }
  }
}
@media (max-width: 62.5em) {
  .footer-bottom__item:not(:last-child) {
    margin-right: 0.9375rem;
  }
}
@media (max-width: 560px) {
  .footer-bottom__item:not(:last-child) {
    margin: 0;
  }
}

.page {
  background-color: #263238;
}

.block-text__title {
  font-weight: 700;
  line-height: 111.428571%; /* 78/70 */
  max-width: 920px;
  margin: 0 auto;
}
@media (min-width: 90.625em) {
  .block-text__title {
    font-size: 4.375rem;
  }
}
@media (min-width: 20em) and (max-width: 90.625em) {
  @supports (font-size: clamp( 2.1875rem , 1.5680309735rem  +  3.0973451327vw , 4.375rem )) {
    .block-text__title {
      font-size: clamp( 2.1875rem , 1.5680309735rem  +  3.0973451327vw , 4.375rem );
    }
  }
  @supports not (font-size: clamp( 2.1875rem , 1.5680309735rem  +  3.0973451327vw , 4.375rem )) {
    .block-text__title {
      font-size: calc(2.1875rem + 2.1875 * (100vw - 20rem) / 70.625);
    }
  }
}
@media (max-width: 20em) {
  .block-text__title {
    font-size: 2.1875rem;
  }
}
@media (min-width: 90.625em) {
  .block-text__title {
    padding-bottom: 2rem;
  }
}
@media (min-width: 20em) and (max-width: 90.625em) {
  @supports (padding-bottom: clamp( 1.5625rem , 1.4386061947rem  +  0.6194690265vw , 2rem )) {
    .block-text__title {
      padding-bottom: clamp( 1.5625rem , 1.4386061947rem  +  0.6194690265vw , 2rem );
    }
  }
  @supports not (padding-bottom: clamp( 1.5625rem , 1.4386061947rem  +  0.6194690265vw , 2rem )) {
    .block-text__title {
      padding-bottom: calc(1.5625rem + 0.4375 * (100vw - 20rem) / 70.625);
    }
  }
}
@media (max-width: 20em) {
  .block-text__title {
    padding-bottom: 1.5625rem;
  }
}
.block-text__title span {
  color: #23B123;
}
.block-text__title_b {
  text-align: center;
}
@media (min-width: 90.625em) {
  .block-text__title_b {
    padding-bottom: 4.375rem;
  }
}
@media (min-width: 20em) and (max-width: 90.625em) {
  @supports (padding-bottom: clamp( 1.875rem , 1.1670353982rem  +  3.5398230088vw , 4.375rem )) {
    .block-text__title_b {
      padding-bottom: clamp( 1.875rem , 1.1670353982rem  +  3.5398230088vw , 4.375rem );
    }
  }
  @supports not (padding-bottom: clamp( 1.875rem , 1.1670353982rem  +  3.5398230088vw , 4.375rem )) {
    .block-text__title_b {
      padding-bottom: calc(1.875rem + 2.5 * (100vw - 20rem) / 70.625);
    }
  }
}
@media (max-width: 20em) {
  .block-text__title_b {
    padding-bottom: 1.875rem;
  }
}
.block-text__text {
  line-height: 180%;
}
.block-text__text_b {
  max-width: 725px;
  margin: 0 auto;
}
@media (min-width: 90.625em) {
  .block-text__text_b {
    padding-bottom: 3rem;
  }
}
@media (min-width: 20em) and (max-width: 90.625em) {
  @supports (padding-bottom: clamp( 1.5625rem , 1.155420354rem  +  2.0353982301vw , 3rem )) {
    .block-text__text_b {
      padding-bottom: clamp( 1.5625rem , 1.155420354rem  +  2.0353982301vw , 3rem );
    }
  }
  @supports not (padding-bottom: clamp( 1.5625rem , 1.155420354rem  +  2.0353982301vw , 3rem )) {
    .block-text__text_b {
      padding-bottom: calc(1.5625rem + 1.4375 * (100vw - 20rem) / 70.625);
    }
  }
}
@media (max-width: 20em) {
  .block-text__text_b {
    padding-bottom: 1.5625rem;
  }
}

.form {
  max-width: 533px;
  height: 76px;
  background-color: #bfbfbf;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  padding: 6px;
  margin: 0 auto;
  gap: 5px;
  position: relative;
}
@media (max-width: 450px) {
  .form {
    display: block;
    height: 150px;
  }
}
.form__button {
  background-color: #23B123;
  height: 100%;
  min-width: 163px;
  border-radius: 10px;
  transition: all 0.3s ease 0s;
}
.form__button:hover {
  background-color: #1f9c1f;
}
@media (max-width: 450px) {
  .form__button {
    width: 100%;
    height: 50%;
  }
}
.form__error {
  position: absolute;
  top: 100%;
  left: 0;
  color: red;
  font-size: 16px;
  transform: translate(10%, 100%);
}
@media (max-width: 450px) {
  .form__error {
    top: -15%;
    transform: translate(10%, 0);
  }
}

.input {
  width: 100%;
  padding: 0px 0px 0px 25px;
  color: #263238;
}
@media (max-width: 450px) {
  .input {
    height: 47%;
    margin: 0px 0px 5px 0px;
    border-radius: 10px;
  }
}
.input::placeholder {
  color: #263238;
}
.input._form-error {
  color: red;
}
.input._form-error::placeholder {
  color: red;
}

@media (min-width: 101.25em) {
  .invest {
    padding-top: 15.4375rem;
  }
}
@media (min-width: 47.9375em) and (max-width: 101.25em) {
  @supports (padding-top: clamp( 7.5rem , 0.3627637749rem  +  14.8886283705vw , 15.4375rem )) {
    .invest {
      padding-top: clamp( 7.5rem , 0.3627637749rem  +  14.8886283705vw , 15.4375rem );
    }
  }
  @supports not (padding-top: clamp( 7.5rem , 0.3627637749rem  +  14.8886283705vw , 15.4375rem )) {
    .invest {
      padding-top: calc(7.5rem + 7.9375 * (100vw - 47.9375rem) / 53.3125);
    }
  }
}
@media (max-width: 47.9375em) {
  .invest {
    padding-top: 7.5rem;
  }
}
@media (min-width: 90.625em) {
  .invest {
    padding-bottom: 12.5rem;
  }
}
@media (min-width: 20em) and (max-width: 90.625em) {
  @supports (padding-bottom: clamp( 2.5rem , -0.3318584071rem  +  14.1592920354vw , 12.5rem )) {
    .invest {
      padding-bottom: clamp( 2.5rem , -0.3318584071rem  +  14.1592920354vw , 12.5rem );
    }
  }
  @supports not (padding-bottom: clamp( 2.5rem , -0.3318584071rem  +  14.1592920354vw , 12.5rem )) {
    .invest {
      padding-bottom: calc(2.5rem + 10 * (100vw - 20rem) / 70.625);
    }
  }
}
@media (max-width: 20em) {
  .invest {
    padding-bottom: 2.5rem;
  }
}
.invest__container {
  position: relative;
}
.invest__text-block {
  position: relative;
  z-index: 2;
  text-align: center;
}
.invest__decore {
  position: absolute;
}
@media (max-width: 767px) {
  .invest__decore {
    opacity: 0.5;
  }
}
.invest__decore_1 {
  top: 51.334702%; /* 500/974 */
  left: 0;
}
.invest__decore_2 {
  top: 20.020534%; /* 195/974 */
  left: 9.577465%; /* 136/1420 */
}
.invest__decore_3 {
  top: 59.445585%; /* 579/974 */
  left: 21.126761%; /* 300/1420 */
}
.invest__decore_4 {
  top: -12%;
  right: 16.619718%; /* 236/1420 */
}
.invest__decore_5 {
  top: 24.12731%; /* 235/974 */
  right: 12.605634%; /* 179/1420 */
}
.invest__decore_6 {
  top: 51.334702%; /* 500/974 */
  right: 0%;
}
.invest__decore_7 {
  top: 16.735113%; /* 163/974 */
  right: -10%;
}

.partners {
  padding: 0px 0px 50px 0px;
}
.partners__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 767px) {
  .partners__list {
    justify-content: center;
  }
}
.partners__list li {
  text-align: center;
  max-width: 100%;
}
@media (min-width: 90.625em) {
  .partners__list li {
    margin-bottom: 3.125rem;
  }
}
@media (min-width: 20em) and (max-width: 90.625em) {
  @supports (margin-bottom: clamp( 1.875rem , 1.5210176991rem  +  1.7699115044vw , 3.125rem )) {
    .partners__list li {
      margin-bottom: clamp( 1.875rem , 1.5210176991rem  +  1.7699115044vw , 3.125rem );
    }
  }
  @supports not (margin-bottom: clamp( 1.875rem , 1.5210176991rem  +  1.7699115044vw , 3.125rem )) {
    .partners__list li {
      margin-bottom: calc(1.875rem + 1.25 * (100vw - 20rem) / 70.625);
    }
  }
}
@media (max-width: 20em) {
  .partners__list li {
    margin-bottom: 1.875rem;
  }
}
@media (max-width: 1200px) {
  .partners__list li {
    flex: 0 1 30%;
  }
}
@media (max-width: 767px) {
  .partners__list li {
    flex: 0 1 50%;
  }
}
@media (max-width: 560px) {
  .partners__list li img {
    max-width: 85%;
  }
}

@media (min-width: 90.625em) {
  .howitworks {
    padding-top: 12.5rem;
  }
}
@media (min-width: 20em) and (max-width: 90.625em) {
  @supports (padding-top: clamp( 2.5rem , -0.3318584071rem  +  14.1592920354vw , 12.5rem )) {
    .howitworks {
      padding-top: clamp( 2.5rem , -0.3318584071rem  +  14.1592920354vw , 12.5rem );
    }
  }
  @supports not (padding-top: clamp( 2.5rem , -0.3318584071rem  +  14.1592920354vw , 12.5rem )) {
    .howitworks {
      padding-top: calc(2.5rem + 10 * (100vw - 20rem) / 70.625);
    }
  }
}
@media (max-width: 20em) {
  .howitworks {
    padding-top: 2.5rem;
  }
}
.howitworks__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
@media (max-width: 992px) {
  .howitworks__container {
    justify-content: center;
    align-items: center;
  }
}
.howitworks__content {
  flex: 0 1 50%;
}
@media (min-width: 88.75em) {
  .howitworks__content {
    padding-right: 5.625rem;
  }
}
@media (min-width: 62em) and (max-width: 88.75em) {
  @supports (padding-right: clamp( 0.9375rem , -9.9269859813rem  +  17.523364486vw , 5.625rem )) {
    .howitworks__content {
      padding-right: clamp( 0.9375rem , -9.9269859813rem  +  17.523364486vw , 5.625rem );
    }
  }
  @supports not (padding-right: clamp( 0.9375rem , -9.9269859813rem  +  17.523364486vw , 5.625rem )) {
    .howitworks__content {
      padding-right: calc(0.9375rem + 4.6875 * (100vw - 62rem) / 26.75);
    }
  }
}
@media (max-width: 62em) {
  .howitworks__content {
    padding-right: 0.9375rem;
  }
}
@media (max-width: 992px) {
  .howitworks__content {
    flex: 0 1 100%;
    padding-right: 0;
  }
}
.howitworks__image {
  flex: 0 1 50%;
}
.howitworks__image img {
  max-width: 100%;
}
@media (max-width: 992px) {
  .howitworks__image {
    flex: 0 1 100%;
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 90.625em) {
  .block-text {
    padding-bottom: 3rem;
  }
}
@media (min-width: 20em) and (max-width: 90.625em) {
  @supports (padding-bottom: clamp( 1.875rem , 1.5564159292rem  +  1.592920354vw , 3rem )) {
    .block-text {
      padding-bottom: clamp( 1.875rem , 1.5564159292rem  +  1.592920354vw , 3rem );
    }
  }
  @supports not (padding-bottom: clamp( 1.875rem , 1.5564159292rem  +  1.592920354vw , 3rem )) {
    .block-text {
      padding-bottom: calc(1.875rem + 1.125 * (100vw - 20rem) / 70.625);
    }
  }
}
@media (max-width: 20em) {
  .block-text {
    padding-bottom: 1.875rem;
  }
}
@media (max-width: 992px) and (min-width: 62em) {
  .body-howitworks {
    padding-bottom: 3.125rem;
  }
}
@media (max-width: 992px) and (min-width: 20em) and (max-width: 62em) {
  @supports (padding-bottom: clamp( 1.875rem , 1.2797619048rem  +  2.9761904762vw , 3.125rem )) {
    .body-howitworks {
      padding-bottom: clamp( 1.875rem , 1.2797619048rem  +  2.9761904762vw , 3.125rem );
    }
  }
  @supports not (padding-bottom: clamp( 1.875rem , 1.2797619048rem  +  2.9761904762vw , 3.125rem )) {
    .body-howitworks {
      padding-bottom: calc(1.875rem + 1.25 * (100vw - 20rem) / 42);
    }
  }
}
@media (max-width: 992px) and (max-width: 20em) {
  .body-howitworks {
    padding-bottom: 1.875rem;
  }
}
.body-howitworks__column {
  display: flex;
  align-items: center;
}
@media (min-width: 88.75em) {
  .body-howitworks__column:not(:last-child) {
    padding-bottom: 2.8125rem;
  }
}
@media (min-width: 62em) and (max-width: 88.75em) {
  @supports (padding-bottom: clamp( 1.875rem , -0.2978971963rem  +  3.5046728972vw , 2.8125rem )) {
    .body-howitworks__column:not(:last-child) {
      padding-bottom: clamp( 1.875rem , -0.2978971963rem  +  3.5046728972vw , 2.8125rem );
    }
  }
  @supports not (padding-bottom: clamp( 1.875rem , -0.2978971963rem  +  3.5046728972vw , 2.8125rem )) {
    .body-howitworks__column:not(:last-child) {
      padding-bottom: calc(1.875rem + 0.9375 * (100vw - 62rem) / 26.75);
    }
  }
}
@media (max-width: 62em) {
  .body-howitworks__column:not(:last-child) {
    padding-bottom: 1.875rem;
  }
}
@media (max-width: 992px) and (min-width: 62em) {
  .body-howitworks__column:not(:last-child) {
    padding-bottom: 2.8125rem;
  }
}
@media (max-width: 992px) and (min-width: 20em) and (max-width: 62em) {
  @supports (padding-bottom: clamp( 1.875rem , 1.4285714286rem  +  2.2321428571vw , 2.8125rem )) {
    .body-howitworks__column:not(:last-child) {
      padding-bottom: clamp( 1.875rem , 1.4285714286rem  +  2.2321428571vw , 2.8125rem );
    }
  }
  @supports not (padding-bottom: clamp( 1.875rem , 1.4285714286rem  +  2.2321428571vw , 2.8125rem )) {
    .body-howitworks__column:not(:last-child) {
      padding-bottom: calc(1.875rem + 0.9375 * (100vw - 20rem) / 42);
    }
  }
}
@media (max-width: 992px) and (max-width: 20em) {
  .body-howitworks__column:not(:last-child) {
    padding-bottom: 1.875rem;
  }
}
.body-howitworks__icon img {
  max-width: 100%;
}
.body-howitworks__inform {
  max-width: 380px;
}
@media (min-width: 90.625em) {
  .body-howitworks__inform {
    padding-left: 2rem;
  }
}
@media (min-width: 20em) and (max-width: 90.625em) {
  @supports (padding-left: clamp( 0.9375rem , 0.6366150442rem  +  1.5044247788vw , 2rem )) {
    .body-howitworks__inform {
      padding-left: clamp( 0.9375rem , 0.6366150442rem  +  1.5044247788vw , 2rem );
    }
  }
  @supports not (padding-left: clamp( 0.9375rem , 0.6366150442rem  +  1.5044247788vw , 2rem )) {
    .body-howitworks__inform {
      padding-left: calc(0.9375rem + 1.0625 * (100vw - 20rem) / 70.625);
    }
  }
}
@media (max-width: 20em) {
  .body-howitworks__inform {
    padding-left: 0.9375rem;
  }
}
@media (max-width: 992px) {
  .body-howitworks__inform {
    max-width: none;
  }
}
.body-howitworks__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 120%;
}
@media (min-width: 90.625em) {
  .body-howitworks__title {
    padding-bottom: 1rem;
  }
}
@media (min-width: 20em) and (max-width: 90.625em) {
  @supports (padding-bottom: clamp( 0.625rem , 0.5188053097rem  +  0.5309734513vw , 1rem )) {
    .body-howitworks__title {
      padding-bottom: clamp( 0.625rem , 0.5188053097rem  +  0.5309734513vw , 1rem );
    }
  }
  @supports not (padding-bottom: clamp( 0.625rem , 0.5188053097rem  +  0.5309734513vw , 1rem )) {
    .body-howitworks__title {
      padding-bottom: calc(0.625rem + 0.375 * (100vw - 20rem) / 70.625);
    }
  }
}
@media (max-width: 20em) {
  .body-howitworks__title {
    padding-bottom: 0.625rem;
  }
}
.body-howitworks__text {
  line-height: 150%;
}
@media (min-width: 31.25em) {
  .body-howitworks__text {
    font-size: 1.25rem;
  }
}
@media (min-width: 20em) and (max-width: 31.25em) {
  @supports (font-size: clamp( 0.875rem , 0.2083333333rem  +  3.3333333333vw , 1.25rem )) {
    .body-howitworks__text {
      font-size: clamp( 0.875rem , 0.2083333333rem  +  3.3333333333vw , 1.25rem );
    }
  }
  @supports not (font-size: clamp( 0.875rem , 0.2083333333rem  +  3.3333333333vw , 1.25rem )) {
    .body-howitworks__text {
      font-size: calc(0.875rem + 0.375 * (100vw - 20rem) / 11.25);
    }
  }
}
@media (max-width: 20em) {
  .body-howitworks__text {
    font-size: 0.875rem;
  }
}

@media (min-width: 90.625em) {
  .pathway {
    padding-top: 12.5rem;
  }
}
@media (min-width: 20em) and (max-width: 90.625em) {
  @supports (padding-top: clamp( 2.5rem , -0.3318584071rem  +  14.1592920354vw , 12.5rem )) {
    .pathway {
      padding-top: clamp( 2.5rem , -0.3318584071rem  +  14.1592920354vw , 12.5rem );
    }
  }
  @supports not (padding-top: clamp( 2.5rem , -0.3318584071rem  +  14.1592920354vw , 12.5rem )) {
    .pathway {
      padding-top: calc(2.5rem + 10 * (100vw - 20rem) / 70.625);
    }
  }
}
@media (max-width: 20em) {
  .pathway {
    padding-top: 2.5rem;
  }
}
.pathway__container {
  display: flex;
  align-items: center;
  gap: 20px;
}
@media (min-width: 88.75em) {
  .pathway__container {
    gap: 7.8125rem;
  }
}
@media (min-width: 62em) and (max-width: 88.75em) {
  @supports (gap: clamp( 1.25rem , -13.9602803738rem  +  24.5327102804vw , 7.8125rem )) {
    .pathway__container {
      gap: clamp( 1.25rem , -13.9602803738rem  +  24.5327102804vw , 7.8125rem );
    }
  }
  @supports not (gap: clamp( 1.25rem , -13.9602803738rem  +  24.5327102804vw , 7.8125rem )) {
    .pathway__container {
      gap: calc(1.25rem + 6.5625 * (100vw - 62rem) / 26.75);
    }
  }
}
@media (max-width: 992px) {
  .pathway__container {
    flex-wrap: wrap;
  }
}
.pathway__image {
  flex: 0 1 50%;
  display: flex;
  justify-content: center;
}
@media (max-width: 992px) {
  .pathway__image {
    order: 2;
    flex: 0 1 100%;
  }
}
.pathway__image img {
  max-width: 100%;
}
.pathway__content {
  flex: 0 1 50%;
}
@media (max-width: 992px) {
  .pathway__content {
    flex: 0 1 100%;
  }
}

.content-pathway__item {
  padding: 24px 30px;
  background-color: #313c42;
  margin: 0px 0px 24px 0px;
  border-radius: 10px;
}
.content-pathway__label {
  display: flex;
  text-align: left;
  width: 100%;
  font-size: 24px;
  line-height: 177%;
  justify-content: space-between;
  transition: all 0.3s ease 0s;
}
.content-pathway__label:hover {
  color: #1f9c1f;
}
.content-pathway__label::after {
  content: "";
  background: url("../img/pathway/icon/01.svg") 50% 100%/100% no-repeat;
  height: 24px;
  flex: 0 0 24px;
  transition: all 0.3s ease 0s;
}
.content-pathway__label._spoller-active::after {
  transform: rotate(180deg);
}
.content-pathway__text {
  padding: 30px 0px 0px 0px;
  line-height: 130%;
  font-size: 18px;
}

@media (min-width: 90.625em) {
  .whychoose {
    padding-top: 12.5rem;
  }
}
@media (min-width: 20em) and (max-width: 90.625em) {
  @supports (padding-top: clamp( 2.5rem , -0.3318584071rem  +  14.1592920354vw , 12.5rem )) {
    .whychoose {
      padding-top: clamp( 2.5rem , -0.3318584071rem  +  14.1592920354vw , 12.5rem );
    }
  }
  @supports not (padding-top: clamp( 2.5rem , -0.3318584071rem  +  14.1592920354vw , 12.5rem )) {
    .whychoose {
      padding-top: calc(2.5rem + 10 * (100vw - 20rem) / 70.625);
    }
  }
}
@media (max-width: 20em) {
  .whychoose {
    padding-top: 2.5rem;
  }
}
.whychoose__container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.whychoose__content {
  flex: 0 1 50%;
}
@media (min-width: 88.75em) {
  .whychoose__content {
    padding-right: 10rem;
  }
}
@media (min-width: 62em) and (max-width: 88.75em) {
  @supports (padding-right: clamp( 0.9375rem , -20.0671728972rem  +  33.8785046729vw , 10rem )) {
    .whychoose__content {
      padding-right: clamp( 0.9375rem , -20.0671728972rem  +  33.8785046729vw , 10rem );
    }
  }
  @supports not (padding-right: clamp( 0.9375rem , -20.0671728972rem  +  33.8785046729vw , 10rem )) {
    .whychoose__content {
      padding-right: calc(0.9375rem + 9.0625 * (100vw - 62rem) / 26.75);
    }
  }
}
@media (max-width: 62em) {
  .whychoose__content {
    padding-right: 0.9375rem;
  }
}
@media (max-width: 992px) {
  .whychoose__content {
    flex: 0 1 100%;
  }
}
@media (max-width: 992px) and (min-width: 62em) {
  .whychoose__content {
    padding-bottom: 3.75rem;
  }
}
@media (max-width: 992px) and (min-width: 20em) and (max-width: 62em) {
  @supports (padding-bottom: clamp( 1.5625rem , 0.5208333333rem  +  5.2083333333vw , 3.75rem )) {
    .whychoose__content {
      padding-bottom: clamp( 1.5625rem , 0.5208333333rem  +  5.2083333333vw , 3.75rem );
    }
  }
  @supports not (padding-bottom: clamp( 1.5625rem , 0.5208333333rem  +  5.2083333333vw , 3.75rem )) {
    .whychoose__content {
      padding-bottom: calc(1.5625rem + 2.1875 * (100vw - 20rem) / 42);
    }
  }
}
@media (max-width: 992px) and (max-width: 20em) {
  .whychoose__content {
    padding-bottom: 1.5625rem;
  }
}
.whychoose__item {
  display: flex;
  align-items: center;
}
@media (min-width: 90.625em) {
  .whychoose__item {
    padding-bottom: 4rem;
  }
}
@media (min-width: 20em) and (max-width: 90.625em) {
  @supports (padding-bottom: clamp( 1.5625rem , 0.8722345133rem  +  3.4513274336vw , 4rem )) {
    .whychoose__item {
      padding-bottom: clamp( 1.5625rem , 0.8722345133rem  +  3.4513274336vw , 4rem );
    }
  }
  @supports not (padding-bottom: clamp( 1.5625rem , 0.8722345133rem  +  3.4513274336vw , 4rem )) {
    .whychoose__item {
      padding-bottom: calc(1.5625rem + 2.4375 * (100vw - 20rem) / 70.625);
    }
  }
}
@media (max-width: 20em) {
  .whychoose__item {
    padding-bottom: 1.5625rem;
  }
}
.whychoose__number {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 111.111111%; /* 40/36 */
  background: rgba(255, 255, 255, 0.05);
  width: 64px;
  height: 64px;
  border-radius: 50%;
}
@media (min-width: 90.625em) {
  .whychoose__number {
    margin-right: 3.125rem;
  }
}
@media (min-width: 20em) and (max-width: 90.625em) {
  @supports (margin-right: clamp( 1.25rem , 0.7190265487rem  +  2.6548672566vw , 3.125rem )) {
    .whychoose__number {
      margin-right: clamp( 1.25rem , 0.7190265487rem  +  2.6548672566vw , 3.125rem );
    }
  }
  @supports not (margin-right: clamp( 1.25rem , 0.7190265487rem  +  2.6548672566vw , 3.125rem )) {
    .whychoose__number {
      margin-right: calc(1.25rem + 1.875 * (100vw - 20rem) / 70.625);
    }
  }
}
@media (max-width: 20em) {
  .whychoose__number {
    margin-right: 1.25rem;
  }
}
.whychoose__text {
  font-weight: 500;
  font-size: 20px;
  line-height: 110%; /* 22/20 */
}
.whychoose__button {
  width: 222px;
}
@media (max-width: 767px) {
  .whychoose__button {
    width: 100%;
  }
}
.whychoose__image {
  flex: 0 1 50%;
  display: flex;
  justify-content: center;
}
.whychoose__image img {
  max-width: 100%;
}
@media (max-width: 992px) {
  .whychoose__image {
    flex: 0 1 100%;
  }
}

@media (min-width: 90.625em) {
  .customers {
    padding-top: 12.5rem;
  }
}
@media (min-width: 20em) and (max-width: 90.625em) {
  @supports (padding-top: clamp( 2.5rem , -0.3318584071rem  +  14.1592920354vw , 12.5rem )) {
    .customers {
      padding-top: clamp( 2.5rem , -0.3318584071rem  +  14.1592920354vw , 12.5rem );
    }
  }
  @supports not (padding-top: clamp( 2.5rem , -0.3318584071rem  +  14.1592920354vw , 12.5rem )) {
    .customers {
      padding-top: calc(2.5rem + 10 * (100vw - 20rem) / 70.625);
    }
  }
}
@media (max-width: 20em) {
  .customers {
    padding-top: 2.5rem;
  }
}
.customers__body {
  display: flex;
  padding: 0px 0px 48px 0px;
}
@media (min-width: 88.75em) {
  .customers__body {
    gap: 3rem;
  }
}
@media (min-width: 62em) and (max-width: 88.75em) {
  @supports (gap: clamp( 0.625rem , -4.8796728972rem  +  8.8785046729vw , 3rem )) {
    .customers__body {
      gap: clamp( 0.625rem , -4.8796728972rem  +  8.8785046729vw , 3rem );
    }
  }
  @supports not (gap: clamp( 0.625rem , -4.8796728972rem  +  8.8785046729vw , 3rem )) {
    .customers__body {
      gap: calc(0.625rem + 2.375 * (100vw - 62rem) / 26.75);
    }
  }
}
@media (max-width: 62em) {
  .customers__body {
    gap: 0.625rem;
  }
}
@media (max-width: 992px) {
  .customers__body {
    flex-wrap: wrap;
  }
}
@media (max-width: 992px) and (min-width: 62em) {
  .customers__body {
    gap: 3rem;
  }
}
@media (max-width: 992px) and (min-width: 20em) and (max-width: 62em) {
  @supports (gap: clamp( 1.25rem , 0.4166666667rem  +  4.1666666667vw , 3rem )) {
    .customers__body {
      gap: clamp( 1.25rem , 0.4166666667rem  +  4.1666666667vw , 3rem );
    }
  }
  @supports not (gap: clamp( 1.25rem , 0.4166666667rem  +  4.1666666667vw , 3rem )) {
    .customers__body {
      gap: calc(1.25rem + 1.75 * (100vw - 20rem) / 42);
    }
  }
}
@media (max-width: 992px) and (max-width: 20em) {
  .customers__body {
    gap: 1.25rem;
  }
}
.customers__column {
  display: flex;
  flex: 0 1 50%;
}
@media (max-width: 992px) {
  .customers__column {
    flex: 0 1 100%;
  }
}
@media (max-width: 600px) {
  .customers__column {
    flex-wrap: wrap;
    justify-content: center;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 20px 20px 20px 20px;
    padding: 30px 0px 0px 0px;
  }
}
.customers__image {
  flex: 0 1 44%;
}
@media (max-width: 992px) {
  .customers__image {
    flex: 0 1 auto;
  }
}
.customers__image img {
  border-radius: 20px 0px 0px 20px;
}
@media (min-width: 992px) {
  .customers__image img {
    max-width: 100%;
  }
}
@media (max-width: 600px) {
  .customers__image {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .customers__image img {
    border-radius: 40px 40px 40px 40px;
    width: 95%;
  }
}
.customers__content {
  flex: 0 1 56%;
  display: flex;
  flex-direction: column;
  padding: 32px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 0px 20px 20px 0px;
}
@media (min-width: 88.75em) {
  .customers__content {
    padding: 2rem;
  }
}
@media (min-width: 62em) and (max-width: 88.75em) {
  @supports (padding: clamp( 0.625rem , -2.5619158879rem  +  5.1401869159vw , 2rem )) {
    .customers__content {
      padding: clamp( 0.625rem , -2.5619158879rem  +  5.1401869159vw , 2rem );
    }
  }
  @supports not (padding: clamp( 0.625rem , -2.5619158879rem  +  5.1401869159vw , 2rem )) {
    .customers__content {
      padding: calc(0.625rem + 1.375 * (100vw - 62rem) / 26.75);
    }
  }
}
@media (max-width: 992px) {
  .customers__content {
    flex: 0 1 auto;
  }
}
@media (max-width: 992px) and (min-width: 62em) {
  .customers__content {
    padding: 2rem;
  }
}
@media (max-width: 992px) and (min-width: 20em) and (max-width: 62em) {
  @supports (padding: clamp( 0.625rem , -0.0297619048rem  +  3.2738095238vw , 2rem )) {
    .customers__content {
      padding: clamp( 0.625rem , -0.0297619048rem  +  3.2738095238vw , 2rem );
    }
  }
  @supports not (padding: clamp( 0.625rem , -0.0297619048rem  +  3.2738095238vw , 2rem )) {
    .customers__content {
      padding: calc(0.625rem + 1.375 * (100vw - 20rem) / 42);
    }
  }
}
@media (max-width: 992px) and (max-width: 20em) {
  .customers__content {
    padding: 0.625rem;
  }
}
@media (max-width: 600px) {
  .customers__content {
    border-radius: 0px;
    background: none;
    min-height: 200px;
  }
}
.customers__text {
  line-height: 177%;
  flex: 1 1 auto;
}
@media (max-width: 600px) {
  .customers__text {
    font-size: 16px;
  }
}
.customers__button {
  margin: 0 auto;
  width: 220px;
}
@media (max-width: 600px) {
  .customers__button {
    width: 100%;
  }
}

.block-text__title_m {
  max-width: none;
  text-align: center;
}

.block-text__text_m {
  max-width: 560px;
  margin: 0 auto;
}

@media (min-width: 90.625em) {
  .download {
    padding-top: 12.5rem;
  }
}
@media (min-width: 20em) and (max-width: 90.625em) {
  @supports (padding-top: clamp( 2.5rem , -0.3318584071rem  +  14.1592920354vw , 12.5rem )) {
    .download {
      padding-top: clamp( 2.5rem , -0.3318584071rem  +  14.1592920354vw , 12.5rem );
    }
  }
  @supports not (padding-top: clamp( 2.5rem , -0.3318584071rem  +  14.1592920354vw , 12.5rem )) {
    .download {
      padding-top: calc(2.5rem + 10 * (100vw - 20rem) / 70.625);
    }
  }
}
@media (max-width: 20em) {
  .download {
    padding-top: 2.5rem;
  }
}
@media (min-width: 90.625em) {
  .download {
    padding-bottom: 12.5rem;
  }
}
@media (min-width: 20em) and (max-width: 90.625em) {
  @supports (padding-bottom: clamp( 1.25rem , -1.935840708rem  +  15.9292035398vw , 12.5rem )) {
    .download {
      padding-bottom: clamp( 1.25rem , -1.935840708rem  +  15.9292035398vw , 12.5rem );
    }
  }
  @supports not (padding-bottom: clamp( 1.25rem , -1.935840708rem  +  15.9292035398vw , 12.5rem )) {
    .download {
      padding-bottom: calc(1.25rem + 11.25 * (100vw - 20rem) / 70.625);
    }
  }
}
@media (max-width: 20em) {
  .download {
    padding-bottom: 1.25rem;
  }
}
.download__body {
  background: rgba(255, 255, 255, 0.07);
  border-radius: 20px;
  padding: 72px 0px 64px 0px;
  overflow: hidden;
}
@media (min-width: 90.625em) {
  .download__body {
    padding-top: 4.5rem;
  }
}
@media (min-width: 20em) and (max-width: 90.625em) {
  @supports (padding-top: clamp( 2.5rem , 1.9336283186rem  +  2.8318584071vw , 4.5rem )) {
    .download__body {
      padding-top: clamp( 2.5rem , 1.9336283186rem  +  2.8318584071vw , 4.5rem );
    }
  }
  @supports not (padding-top: clamp( 2.5rem , 1.9336283186rem  +  2.8318584071vw , 4.5rem )) {
    .download__body {
      padding-top: calc(2.5rem + 2 * (100vw - 20rem) / 70.625);
    }
  }
}
@media (max-width: 20em) {
  .download__body {
    padding-top: 2.5rem;
  }
}
@media (min-width: 90.625em) {
  .download__body {
    padding-bottom: 4rem;
  }
}
@media (min-width: 20em) and (max-width: 90.625em) {
  @supports (padding-bottom: clamp( 2.5rem , 2.0752212389rem  +  2.1238938053vw , 4rem )) {
    .download__body {
      padding-bottom: clamp( 2.5rem , 2.0752212389rem  +  2.1238938053vw , 4rem );
    }
  }
  @supports not (padding-bottom: clamp( 2.5rem , 2.0752212389rem  +  2.1238938053vw , 4rem )) {
    .download__body {
      padding-bottom: calc(2.5rem + 1.5 * (100vw - 20rem) / 70.625);
    }
  }
}
@media (max-width: 20em) {
  .download__body {
    padding-bottom: 2.5rem;
  }
}
.download__text-block {
  max-width: 960px;
  margin: 0 auto;
}
.download__apps {
  display: flex;
  justify-content: center;
  gap: 24px;
  position: relative;
}
@media (min-width: 28.125em) {
  .download__apps {
    gap: 1.5rem;
  }
}
@media (min-width: 20em) and (max-width: 28.125em) {
  @supports (gap: clamp( 0.625rem , -1.5288461538rem  +  10.7692307692vw , 1.5rem )) {
    .download__apps {
      gap: clamp( 0.625rem , -1.5288461538rem  +  10.7692307692vw , 1.5rem );
    }
  }
  @supports not (gap: clamp( 0.625rem , -1.5288461538rem  +  10.7692307692vw , 1.5rem )) {
    .download__apps {
      gap: calc(0.625rem + 0.875 * (100vw - 20rem) / 8.125);
    }
  }
}
@media (max-width: 20em) {
  .download__apps {
    gap: 0.625rem;
  }
}
.download__apps::before {
  content: "";
  position: absolute;
  pointer-events: none;
  top: -750%;
  left: 25%;
  width: 585px;
  height: 585px;
  border: 1px solid rgba(255, 255, 255, 0.37);
  transform: rotate(-47.29deg);
  border-radius: 50%;
}
@media (max-width: 992px) {
  .download__apps::before {
    display: none;
  }
}
.download__apps::after {
  content: "";
  position: absolute;
  pointer-events: none;
  top: -650%;
  left: 25%;
  width: 585px;
  height: 585px;
  border: 1px solid rgba(255, 255, 255, 0.37);
  transform: rotate(-47.29deg);
  border-radius: 50%;
}
@media (max-width: 992px) {
  .download__apps::after {
    display: none;
  }
}
@media (max-width: 420px) {
  .download__apps {
    flex-wrap: wrap;
  }
}
@media (max-width: 420px) {
  .download__item {
    flex: 0 1 100%;
    display: flex;
    justify-content: center;
  }
  .download__item img {
    max-width: 100%;
  }
}

.block-text__title_d {
  text-align: center;
  padding: 0;
}
